* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
}

body {
    background: #1a1a1a;
    color: #f0f0f0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin:0;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background: #111;
    border-bottom: 2px solid #00ff88;
}

nav h1 {
    color: #00ff88;
    font-size: 1.8rem;
    letter-spacing: 1px;
}

#menu-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

#menu-links a {
    color: #ccc;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
    padding: 5px 0;
    position: relative;
}

#menu-links a:hover {
    color: #00ff88;
}

/* MAIN */


main{
    flex:1;
}

.form-container {
    max-width: 400px;
    margin: 60px auto;
    padding: 30px;
    background: #232121;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.5);
}

.form-container h2 {
    text-align: center;
    color: #00ff88;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #ccc;
}

.form-group input {
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background: #1a1a1a;
    color: #fff;
    font-size: 1rem;
}

.form-group input:focus {
    outline: none;
    border-color: #00ff88;
}

.btn {
    width: 100%;
    padding: 12px;
    background: #00ff88;
    color: #2c2a2a;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
    transition: background 0.3s;
}

.btn:hover {
    background: #00cc66;
}


/* FOOTER */
footer {
    padding: 30px;
    text-align: center;
    background: #111;
    color: #888;
    border-top: 2px solid #00ff88;
}